*.html

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder

!/drafts
/drafts/*
!/drafts/setup.org
!/drafts/index.org
!/drafts/0.jpg
!/drafts/1.jpg
*~*
