.self-link:hover {
    opacity: 1;
    text-decoration: none;
    background-color: transparent;
}
.header-wrapper {
    display: flex;
    align-items: baseline;
}
:is(h2,h3,h4,h5,h6):not(#toc>h2, #abstract>h2) {
    position: relative;
    left: -.5em
}
:is(h2,h3,h4,h5,h6):not(#toc>h2)+a.self-link{
    color: inherit;
    order: -1;
    position: relative;
    left: -1.1em;
    font-size: 1rem;
    opacity: .5
}
:is(h2,h3,h4,h5,h6)+a.self-link::before {
    content: "§";
    text-decoration: none;
    color: #005a9c;
    color: var(--heading-text);
}
:is(h2)+a.self-link{
    top: -.2em;
}
:is(h3)+a.self-link{
    top: -.1em;
}
:is(h4,h5,h6)+a.self-link::before{
    color: #000;
}
